<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
    <div class="form-group">
        <label for="form-group">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" name="name">
    </div>
    <div class="form-group">
        <label for="inputlocation">Locations</label>
        <select class="form-control" id="dojolocation" name="dojo_location">
            <option value="San Jose">San Jose</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputlocation">Favorite language</label>
        <select class="form-control" id="favlanguage" name="favlanguage">
            <option value="python">Python</option>
            <option value="Java">Java</option>
        </select>
    </div>
    <div>
        <label for="exampleFormControlTextarea1"> Comments (optional)</label>
        <textarea id="comments" rows="3" name="comments"></textarea>
    </div>
    <button type="submit" value="submit">submit</button>
    </form>







</body>
</html>